* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(35, 3, 18);
    color: #fff;
    display: flex;
    flex-direction: column;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: rgb(29, 0, 13);
    justify-content: space-around;
}

header .logo {
    display: flex;
    float: left;
    width: 300px;
    height: 50px;
}

header .menu{
    display: flex;
    float: right;
    width: auto;
    justify-content: space-between;
}

.bouton_menu {
    display: flex;
    background-color: rgb(29, 0, 13);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0 10px;
    padding: 10px;
    font-family: 'Open sans', sans-serif;
    border: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:active {
    background-color: #c52d2f;
}

.bouton_menu:hover {
    background-color: #c52d2f;
}

content {
    padding: 20px;
}

.container {
    display: flex;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.présentation{
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 0, 13);
    justify-content: center;
    align-items: center;
    top: 10%;
    height: 90%;
    width: 100%;
}

.diff_requetes{
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 0, 13);
    justify-content: center;
    align-items: center;
    top: 10%;
    height: 90%;
    width: 100%;
} 

.container_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.card p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.card ul {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card li {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
}